/flappy_bird_interim/db
/flappy_bird_interim/hc_output
/flappy_bird_interim/incremental_db/compiled_partitions
/flappy_bird_interim/incremental_db
/flappy_bird_interim/output_files
/flappy_bird_interim/sus_bird.qsf
*.txt
*.bak
*.dat
/MiniprojectResources/db
.DS_Store
flappy_bird_interim/sus_bird_assignment_defaults.qdf
